@import "./root.scss";

/* banner */

.banner {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  height: 700px;
  background-color: map-get($colores_botones, primary);
  grid-template-areas:
    "banner1 banner6 banner7 banner2 banner2"
    "banner1 banner3 banner8 banner2 banner2"
    "banner1 banner5 banner9 banner4 banner10";
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 10px;
  margin-bottom: 50px;

  @media screen and (max-width: 960px) {
    grid-template-areas:
      "banner1 banner2 banner2"
      "banner1 banner2 banner2"
      "banner1 banner5 banner4"
      "banner3 banner6 banner7"
      "banner8 banner9 banner10";
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media screen and (max-width: 480px) {
    height: auto;
    display: block;
  }

  & .banner_1 {
    grid-area: banner1;
  }
  & .image_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      transform: scale(1.2);
    }
  }
  & .banner_2 {
    grid-area: banner2;
  }

  & .banner_3 {
    grid-area: banner3;
  }

  & .banner_4 {
    grid-area: banner4;
  }

  & .banner_5 {
    grid-area: banner5;
  }

  & .banner_6 {
    grid-area: banner6;
  }

  & .banner_7 {
    grid-area: banner7;
  }

  & .banner_8 {
    grid-area: banner8;
  }

  & .banner_9 {
    grid-area: banner9;
  }

  & .banner_10 {
    grid-area: banner10;
  }
}
