/* Footer */

.footer__photo {
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;

  & a {
    text-decoration: none;
    color: #000;
  }
}
.footer {
  text-align: center;

  & .footer__list {
    list-style: none;
  }

  & .footer__item {
    display: inline-block;
    @media screen and (max-width: 770px) {
      display: block;
      margin-bottom: 20px;
    }

    & a {
      margin: 20px 5px;
      text-decoration: none;
      font-size: 17px;
      color: #595959;
    }
  }
}

.footer_copyrigth {
  display: block;
  margin: 20px auto;
  text-align: center;
}
